@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Всем привет 52</h1>
    <p><a href="https://youtu.be/dQw4w9WgXcQ?si=9H2DHzE7gguGu5vQ">Нажми сюда</a></p>
</div>
